.chatcontainer {
    display: flex;
    height: calc(100vh - 80px);
    /* Header 높이를 고려해 조절하세요 */
}

.room-list {
    width: 250px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    padding: 5px;
    background-color: #f9f9f9;
}

.chat-room-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}