.livingSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
  padding: 0;
}

.livingSpace-header {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 70px;
}

.livingSpace-header h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 0;
}

.livingSpace-header h2 {
  font-size: 1.4rem;
  color: #2b2b2b;
  font-weight: normal;
  margin: 0;
}

.btn-filter {
  width: 100px;
  height: 50px;
  background-color: #4a6cf7;
  border-radius: 15px;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.livingSpace-list {
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.livingSpace-item {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 20px;
}

.livingSpace-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.header-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* .btn-register {
  padding: 8px 14px;
  background-color: #4a6cf7;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
} */

@media (max-width: 1200px) {
  .livingSpace-list {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 15px;
  }

  .livingSpace-header h1 {
    font-size: 2rem;
  }

  .livingSpace-header h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .livingSpace-list {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 15px;
  }

  .livingSpace-header h1 {
    font-size: 2rem;
  }

  .livingSpace-header h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .livingSpace-header h1 {
    font-size: 1.8rem;
  }

  .livingSpace-list {
    grid-template-columns: 1fr;
  }

  .roommate-search-bar {
    flex-direction: column;
  }

  .search-input {
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .search-button {
    border-radius: 8px;
    padding: 10px 0;
  }
}
